/* Smooth scroll */
html{
    scroll-behavior: smooth;
}

/* Data theme */
[data-theme="light"]{
    --bg-color: var(--soft-coffe); 
    --font-color: black;
    --serv-shadows: var(--soft-gray);
    --formulary-color: white;
    --phone-ask-color: #e2cba8;
    --form-fonts: black;
    --form-shadows: black;
    --contact-btns-border: white;
    --coments-shadows: var(--dark-gray);
    --coments-bgc: #ffcc80;
}

[data-theme="dark"]{
    --bg-color:  var(--dark-gray);
    --font-color: silver;
    --serv-shadows: transparent;
    --formulary-color: var(--dark-gray);
    --phone-ask-color: transparent;
    --form-fonts: white;
    --form-shadows: transparent;
    --contact-btns-border: black;
    --coments-shadows: transparent;
    --coments-bgc: #a29f9f;
}

/* Variables */
:root{
    --an-orange: #CD6E36;
    --another-blue:#23515E;
    --dark-gray: #3c3c3c;
    --fuchsia: #D400FF;
    --full-black: #000;
    --lime: #C4E86B;
    --many-blue: #7C77BF;
    --medium-gray: #4a4a4a;
    --misty-rose: #FEE5E0;
    --sea-blue: #19335A;
    --sky-blue: #8FC8EB;
    --soft-black: #363636;
    --soft-coffe: #ffe0b2ba;
    --soft-turquoise: #00BCB4;
    --soft-gray: #8f8f8f;
    --soft-gray-2: #e0dfdf;
    --turquoise: #35D89D;
}


*{ /* Universal properties */
    box-sizing: border-box;
}

/* General aplications of properties */
body{
    margin: 0;
    padding-top: 145px; /*Space to float header*/
    background-color: var(--bg-color);
    font-family: 'Poppins', arial, sans-serif, serif; /*General set fonts*/
    font-weight: 500;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--font-color);
    transition: background-color 0.3s, color 0.3s;
}

a{
    text-decoration: none;
    color: var(--dark-gray);
}

ul{
    margin-top: 0; 
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

/*----------------------- Header ----------------------- */

header{
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 1px 10px var(--dark-gray);
    background-image: linear-gradient(
        200deg, 
        var(--soft-coffe) 0%, 
        var(--soft-gray) 55%, 
        var(--full-black) 100%);
    max-height: 145px;
    z-index: 4;
    padding-bottom: 20px;
    transition: background-color 0.4s;
}

/* Buttons */

.hamburger{
    display: none;
}

.switch-theme{
    position: absolute;
    top: 15px;
    left: 560px;
}

.text-theme{
    display: inline-block;
    position: absolute;
    font-size: 16px;
    color: white;
    width: 120px;
    left: -36px;
    top: 7px;
}

.theme{
    appearance: none;
    position: absolute;
    top: 2px;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    background-color: black;
    transition: margin 0.09s;
}

.check-circle {
    width: 30px;
    height: 20px;
    background: #f0f0f0;
    border: 2px solid rgba(0,0,0,0.2);
    position: absolute;
    left: -2px;
    border-radius: 10px;
}

/* title and logo*/

.title-logo{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
}

.ppal-logo{
    width: 4em;
    max-width: 100%;
}

.title{
    text-shadow: 3px 3px 3px var(--soft-black);
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}


/* Phone and mail */

[class^=hc]{
    display: block;
    padding: 2px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    color: white;
    transition: color 0.3s;
}

.header-phone-mail,
.ask-now{
    position: absolute;
    right: 10%;
    padding: 12px;
    width: 18.7em;
    text-align: center;
    border-radius: 22px;
    box-shadow: 3px 5px 12px var(--soft-black);
    transition: transform 0.4s, border 0.4s;
    background-image: linear-gradient(
        325deg, 
        var(--phone-ask-color) 30%, 
        var(--medium-gray) 125%);
} 

.header-phone-mail{
    top: 5%;
}

.ask-now{
    top: 60%;
}

.header-phone-mail:hover,
.ask-now:hover{
    transform:scale(1.09);
    border: 1px solid var(--soft-black);
}

.hc-phone:hover,
.hc-mail:hover,
.hc-ask:hover{
    color: var(--soft-black);
}

.header-phone-mail:active,
.ask-now:active{
    transform: scale(0.95);
    border: 1px solid white;
}

/* Social links */

.social-links-header{
    position: absolute;
    top: 10%;
    right: 1.5%;
}

.social-icon{
    width: 22px;
    height: 22px;
    margin-bottom: 4px;
    border-radius: 5px;
    filter: drop-shadow(3px 5px 5px var(--soft-black));
    transition: transform 0.2s, margin-right 0.2s, margin-bottom 0.2s;
    max-width: 100%;
}

.social-icon:hover{
    transform: scale(1.2);
    margin-right: -3px;
    margin-bottom: 4px;
}

/* Navegation links */

[class^=nav]{
    color: var(--soft-gray-2);
    margin-right: 40px;
    padding-bottom: 3px;
    font-size: 19px;
    transition: color 0.3s;
}

[class^=nav]:hover{
    color: white;
}

.nav-blog{
    color: wheat;
}

.header-navegation-links{
    display: flex;
    flex-wrap: wrap;
    margin: 25px 0px 22px 70px;
}

/*----------------------- Main ------------------------- */
/* About us */

.about-us{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin-bottom: 200px;
}

.about-us-title{
    font-size: 1.2em;
}

.about-us::after,
.about-us::before{
    content: '';
    padding-left: 70px;
    padding-bottom: 70px;
    position: absolute;
}

.about-us::before{
    top: 95%;
    left: 7%;
    border-left: 1px solid #929292;
    border-bottom: 1px solid #929292;
}

.about-us::after{
    bottom: 95%;
    right: 7%;
    border-right: 1px solid #929292;
    border-top: 1px solid #929292;
}

.about-us-div{
    width: 50%;
}

.about-us-photo{
    width: 250px;
    border-radius: 140px;
    max-width: 100%;
    margin: 10px;
}

.about-us-targetaux{
    padding-top: 160px;
}

/*-----Opinions and slider------*/
.opinions-intro{
    margin-left: 30px;
    position: relative;
    top: -10px;
}

.opinions{
    display: flex;
    align-items: center;
    position: relative;
}

.opinions-title{
    font-size: 1.2em;
}

.slider{
    display: flex;
    align-items: center;
    overflow: hidden;
    margin: 0px 40px;
}

.slider-container{
    margin-left: auto;
    margin-right: auto;
}

.cmt-container{
    position: relative;
    display: flex;
    justify-content: center;
    width: 410px;
    height: 500px;
    border-radius: 40px;
}

[class^=coment]{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 260px;
    height: 85%;
    padding: 2em;
    margin: 10px;
    border-radius: 30px;
    transition: all 1s;
    user-select: none;
    background-color: var(--coments-bgc);
    box-shadow: 0px 0px 7px var(--coments-shadows);
    color: black;
}

[class^=img-cmt]{
    width: 100px;
    border-radius: 20px;
}

.coment2{
    z-index: 1;
}

.back,
.next{
    border-radius: 50%;
    padding: 21px;
    width: 40px;
    border: none;
    background-color: #23515e;
    margin: 0px 5px;
    transition: opacity 0.5s;
    z-index: 3;
    background-repeat: no-repeat;
    background-position: center;
}

.back{
    background-image: url(../assets/images/arrow_left.png);
}

.next{
    background-image: url(../assets/images/arrow_right.png);
}

/* Classes to slider in javascript */

.hidden-button{
    opacity: 0.5;
}

.showed-up{
    visibility: visible;
    z-index: 2;
}

.hidden-to-right{
    margin-left: 245px;
    opacity: 0.4;
}

.hidden-to-left{
    margin-left: -230px;
    opacity: 0.4;
}

/* Services */
.title-serv{
    position: relative;
    text-align: center;
    margin-top: 50px;
}

.title-serv::before,
.title-serv::after{
    content: '';
    display: inline-block;
    margin: 0px 10px 6px 10px;
    padding-left: 35px;
    border-bottom: 1px solid var(--medium-gray);
}

.title-serv:target{
    padding-top: 160px;
}

.services-div{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.serv{
    position: relative;
    background-color: #505050cc;
    width: 240px;
    height: 530px;
    padding: 30px;
    display: inline-block;
    margin: 30px;
    border-radius: 15px;
    box-shadow: -10px 20px 20px 2px var(--serv-shadows);
    color: white;
}

.servs-img{
    width: 100%;
    border-radius: 10px;
}

.servs-btn{
    position: absolute;
    width: 75%;
    bottom: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 9px;
    background-color: #dec8a6;
    border-radius: 15px;
    transition: transform 0.3s;
}

.servs-btn:hover{
    transform: scale(1.1);
}

/* Float whatsapp */
.float-whatsapp-icon{
    width: 60px;
    height: 60px;
    box-shadow: 2px 3px 7px var(--soft-black);
    border-radius: 30px;
    border: 1px solid white;
    background-color: white;
    max-width: 100%;
}

.float-whatsapp{
    position: fixed;
    bottom: 10%;
    right: 5%;
    animation-name: pulse;
    animation-delay: 3s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    z-index: 3;
}

/* Contact main */

.contact-title{
    margin-left: 10px;
    position: absolute;
    top: -3px;
    left: 15px;
    color: #fff2da;
    padding-bottom: 11px;
    padding-left: 10px;
    padding-right: 110px;
    border-bottom: 1px solid #ffffff30;
    font-size: 1.2em;
}

.aux-contact{
    padding-top: 150px;
}

.contact-main{
    background-color: var(--another-blue);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 0px;
    position: relative;
    z-index: 1;
}

.contact-mail-links-dv{
    margin-top: auto;
    margin-bottom: auto;
}

.contact-img{
    width: 23em;
    max-width: 100%;
}

.contact-main:target{
    margin-top: 150px;
}

.contact-links-main{
    display: flex;
    flex-direction: column;
}

.cm-whatsapp,
.cm-instagram,
.cm-facebook{
    display: inline-block;
    text-align: center;
    padding: 9px;
    margin: 10px;
    margin-left: 10px;
    border-radius: 20px;
    transition: transform 0.4s, border 0.3s, backgroud-image 0.5s;
    border: 1px solid var(--contact-btns-border);
    box-shadow: 3px 5px 12px var(--soft-black);
    background-image: linear-gradient(310deg,
    #efc485,
    var(--soft-gray), 
    var(--full-black)
    );
}

.cm-whatsapp:hover,
.cm-instagram:hover,
.cm-facebook:hover{
    transform:scale(1.09);
    border: 1px solid white;
    background-image: linear-gradient(310deg,
    #efc485,
    var(--soft-gray), 
    var(--medium-gray)
    );
}

.cm-whatsapp:active,
.cm-instagram:active,
.cm-facebook:active{
    transform:scale(0.95);
    border: 1px solid var(--full-black);
}

[class^=lkm]{
    color: white;
}

/* form */

.form-coment{
    margin: 10px;
    color: white;
}

.contact-form{
    margin-right: 20px;
}

[class^=ci]{
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0px 5px 10px;
    border-radius: 15px;
    box-shadow: 0px 3px 12px -5px var(--form-shadows);
    background: var(--formulary-color);
    border: none;
    color: var(--form-font);
}

.ci-submit{
    width: 75px;
    margin-top: 11px;
    background-color: #ccac85;
    color: white;
    box-shadow: 2px 1px 5px black;
    transition: transform 0.4s;
}

.ci-submit:hover{
    transform: scale(1.1);
}

.ci-submit:active{
    transform: scale(0.9);
}

.ci-text{
    resize: none;
}

[class^=ci]:focus-visible{
    outline: none;
}

/* --------------------- Footer ------------------------ */

.footer{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--dark-gray);
    
}

.dv-footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.d-footer{
    width: 300px;
}

.social-links-footer{
    display: flex;
}

.social-icon-footer{
    width: 30px;
    margin: 20px;
    filter: grayscale(1);
    border-radius: 7px;
    transition: filter 0.3s, transform 0.3s;
    max-width: 100%;
}

.social-icon-footer:hover{
    filter: grayscale(0);
    transform: scale(1.1);
}

.credits{
    font-size: 12px;
    position: relative;
    bottom: -30px;
    text-align: center;
}

/*-----------------------Blog------------------------------*/
.warning-blog{
    margin: 20px;
}


/*-------------------- Media querys ------------------------*/

@media screen and (max-width: 1070px){
    .header-phone-mail,
    .ask-now{
        display: none;
    }

    .about-us::after,
    .about-us::before{
        display: none;
    }

}

@media screen and (max-width: 735px){
    body{
        padding-top: 100px;
    }

    header{
        padding-bottom: 30px;
    }

/*-------- Hamburgers ------------*/
/* Credits * @description Tasty CSS-animated hamburgers * @author Jonathan Suh @jonsuh * @site https://jonsuh.com/hamburgers * @link https://github.com/jonsuh/hamburgers */
 
 .hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; }
    .hamburger:hover {
      opacity: 0.7; }
    .hamburger.is-active:hover {
      opacity: 0.7; }
    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
    /* Color of button 1 */
    background-color: #fff; }

  .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    /* position: relative;  */
}
  
  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; }
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      width: 40px;
      height: 4px;
      /* Color of button 2 */
      background-color: #fff;
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease; }
    .hamburger-inner::before, .hamburger-inner::after {
      content: "";
      display: block; }
    .hamburger-inner::before {
      top: -10px; }
    .hamburger-inner::after {
      bottom: -10px; }
  
  /* Animation selected = Spin */
  .hamburger--spin .hamburger-inner {
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
    .hamburger--spin .hamburger-inner::before {
      transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
    .hamburger--spin .hamburger-inner::after {
      transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  
  .hamburger--spin.is-active .hamburger-inner {
    transform: rotate(225deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
    .hamburger--spin.is-active .hamburger-inner::before {
      top: 0;
      opacity: 0;
      transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
    .hamburger--spin.is-active .hamburger-inner::after {
      bottom: 0;
      transform: rotate(-90deg);
      transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }


    .title-logo-button{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .title-logo{
        display: flex;
        align-content: center;
        margin: 0px 10px -9px 0px;
    }

    .ppal-logo{
        width: 3em;
    }

    .title{
        font-size: 19px;
    }

    .navegation{
        width: 100%;
        height: 100%;
        background-color: #4a4a4a;
        border-left: 1px solid wheat;
        position: fixed;
        top: 0;
        margin-left: 100%;
        transition: margin-left 0.6s, border-left 0.6s, box-shadow 0.6s;
    }
    
    .show-menu{
        margin-left: 40%;
        box-shadow: 0px 0px 30px 10px #272727;
    }

    .switch-theme{
        position: absolute;
        top: 290px;
        left: 60px;
    }

    .header-navegation-links{
        margin: 30px 0 0 20px;
        flex-direction: column;
    }
    
    [class^=nav]{
        display: inline-block;
        margin-bottom: 20px;
        margin-right: 0px;
        font-size: 17px;
    }

    .header-phone-mail,
    .ask-now,
    .social-links-header{
        display: none;
    }
    
    .about-us{
        flex-wrap: nowrap;
        flex-direction: row;
        align-content: flex-end;
    }

    .about-us-title{
        font-size: 18px;
        margin: 10px;
    }

    .about-us-targetaux {
        padding-top: 100px;
    }

    .about-us-text{
        width: 80%;
        margin-left: 10px;
        font-size: 14px;
    }

    .about-us-photo{
        width: 150px;
    }

    .opinions{
        flex-wrap: wrap;
    }

    [class^=coment]{
        font-size: 14px;
        height: 75%;
    }

    .back,
    .next{
        margin-bottom: 85px;
    }
    
    .title-serv{
        margin: 70px auto 0px auto;
        font-size: 20px; 
        padding: 150;
    }

    .serv{
        padding: 32px;
        font-size: 12px;
        height: 395px;
    }

    .contact-main{
        padding: 0px 0px 20px 0px;

    }

    .contact-title{
        top: -155px;
        position: static;
    }

    .contact-title:target{
        padding-top: 0px;
    }

}

@media screen and (max-width: 610px){
    .slider-container{
        width: 100%;
    }

    .slider{
        width: 100%;
        margin: 0;
    }

    .opinions{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 360px){
    .title{
        font-size: 16px;
    }
}

/*-------------------- Animations ------------------------*/

@keyframes pulse{
    0%{
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
    70%{
        transform: scale(1.15);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100%{
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}



  